.main {
    max-width: 620px;
    margin: auto;
    padding: 50px;
}

h1 {
    text-align: center;
    font: normal 2.5em "Helvetica Neue", Helvetica, sans-serif;
}

.wt {
    max-width: 900px;
    padding-top: 50px;
    margin: auto;
}
